 <div id="allinone_bannerRotator_universal" style="display:none;">
                <!-- IMAGES -->
                <ul class="allinone_bannerRotator_list">
                    <li data-text-id="#allinone_bannerRotator_photoText1"><%= image_tag("banner/banner_1.jpg") %></li>
                    <li data-text-id="#allinone_bannerRotator_photoText2"><%= image_tag("banner/banner_2.jpg") %></li>
                    <li data-text-id="#allinone_bannerRotator_photoText3"><%= image_tag("banner/banner_3.jpg") %></li>
                    <li data-text-id="#allinone_bannerRotator_photoText4"><%= image_tag("banner/banner_4.jpg") %></li> 
                    <li data-text-id="#allinone_bannerRotator_photoText5"><%= image_tag("banner/banner_5.jpg") %></li> 
                </ul>
                
                
                
                <!-- TEXTS -->
              <div id="allinone_bannerRotator_photoText1" class="allinone_bannerRotator_texts">
                    <div class="allinone_bannerRotator_text_line white_title_orange_bg" data-initial-left="-50" data-initial-top="40" data-final-left="50" data-final-top="40" data-duration="0.5" data-fade-start="0" data-delay="0"><%= t "banner.text1" %>
                    </div>
                    <div class="allinone_bannerRotator_text_line orange_subtitle_white_bg" data-initial-left="620" data-initial-top="290" data-final-left="600" data-final-top="290" data-duration="0.6" data-fade-start="0" data-delay="2">  <%= t "banner.text2" %>  </div>
               </div>       
               
               <div id="allinone_bannerRotator_photoText2" class="allinone_bannerRotator_texts">
                    <div class="allinone_bannerRotator_text_line white_title_orange_bg" data-initial-left="400" data-initial-top="60" data-final-left="400" data-final-top="100" data-duration="0.5" data-fade-start="0" data-delay="0"><%= t "banner.text3" %></div>
                    <div class="allinone_bannerRotator_text_line orange_title_white_bg" data-initial-left="400" data-initial-top="300" data-final-left="400" data-final-top="260" data-duration="0.8" data-fade-start="0" data-delay="1.8"><%= t "banner.text4" %></div>
               </div>  
               
                <div id="allinone_bannerRotator_photoText3" class="allinone_bannerRotator_texts">
                    <div class="allinone_bannerRotator_text_line white_title_orange_bg" data-initial-left="200" data-initial-top="120" data-final-left="450" data-final-top="120" data-duration="0.5" data-fade-start="0" data-delay="0"><%= t "banner.text5" %></div>
                    <div class="allinone_bannerRotator_text_line orange_subtitle_white_bg" data-initial-left="100" data-initial-top="200" data-final-left="150" data-final-top="200" data-duration="0.5" data-fade-start="0" data-delay="2"><%= t "banner.text6" %></div>               
               </div>  
               
               <div id="allinone_bannerRotator_photoText4" class="allinone_bannerRotator_texts">        
                    <div class="allinone_bannerRotator_text_line white_title_orange_bg" data-initial-left="50" data-initial-top="384" data-final-left="50" data-final-top="200" data-duration="0.5" data-fade-start="0" data-delay="1.2"><%= t "banner.text7" %></div>
                    <div class="allinone_bannerRotator_text_line orange_subtitle_white_bg" data-initial-left="50" data-initial-top="0" data-final-left="50" data-final-top="270" data-duration="0.5" data-fade-start="0" data-delay="0"><%= t "banner.text8" %></div>
               </div>
               
              <div id="allinone_bannerRotator_photoText5" class="allinone_bannerRotator_texts">
                    <div class="allinone_bannerRotator_text_line white_title_orange_bg" data-initial-left="20" data-initial-top="20" data-final-left="60" data-final-top="20" data-duration="0.5" data-fade-start="0" data-delay="0"><%= t "banner.text9" %></div>
                    <div class="allinone_bannerRotator_text_line white_text_black_bg" data-initial-left="0" data-initial-top="90" data-final-left="60" data-final-top="90" data-duration="0.5" data-fade-start="0" data-delay="1.5">
                      <ul>
                        <li><span class="orange"><%= t "days.monday" %></span><%= t "people.elders" %></li>
                        <li><span class="orange"><%= t "days.wednesday" %></span><%= t "people.students" %></li>
                        <li><span class="orange"><%= t "days.friday" %></span><%= t "people.kids" %></li>
                        <li><span class="orange"><%= t "days.sunday" %></span><%= t "people.everyone" %></li>
                      </ul>
                    </div>
                    <div class="allinone_bannerRotator_text_line banner_link" data-initial-left="600" data-initial-top="262" data-final-left="500" data-final-top="262" data-duration="0.5" data-fade-start="0" data-delay="1.5"><a class="banner" href="#discounts" return false><%= t "banner.text10" %></a></div>
               </div> <!--       -->                                                   
                           
           </div>  