<div id="navbar">
	<ul>
					<li><%= link_to t("navbar.main"), root_path %></li>
					<li><%= link_to t("navbar.about"), about_path %></li>
					<li><%= link_to t("navbar.special"), special_path %></li>
			<!--	<li><%= link_to t("navbar.offers"), offers_path %></li> -->
					<li><%= link_to t("navbar.stores"), stores_path %></li> 
					<li><%= link_to t("navbar.contacts"), contacts_path %></li> 
	</ul>
</div>

