<% set_title "veikali" %>

<% @extra_head_content = capture do %>
<%= stylesheet_link_tag 'jquery.fancybox.css?v=2.1.5' %>
<%= stylesheet_link_tag 'floating_menu' %>
<%= javascript_include_tag 'jquery-1.10.1.min.js' %>
<%= javascript_include_tag 'jquery.fancybox.js?v=2.1.5' %>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script type="text/javascript"> 
	$(document).ready(function() { 
		$(".fancybox").fancybox(); 
	});

	jQuery(document).ready(function($) {
 
	$(".scroll").click(function(event){		
		event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
	});
});
</script>
<% end %>

<div id='floating_menu'>
<ul>
   <li><a class="scroll" href='#nometnu'><span>Nometņu</span></a></li>
   <li><a class="scroll" href='#lidonu'><span>Lidoņu</span></a></li>
   <li><a class="scroll" href='#maskavas'><span>Maskavas</span></a></li>
   <li><a class="scroll" href='#nicgales'><span>Nīcgales</span></a></li>
   <li><a class="scroll" href='#avotu'><span>Avotu</span></a></li>
   <li><a class="scroll" href='#valdeku'><span>Valdeķu</span></a></li>
   <li><a class="scroll" href='#salaspils'><span>Salaspils</span></a></li>
   <li><a class="scroll" href='#ogre'><span>Ogre</span></a></li>
   <li class='last'><a class="scroll" href='#jelgava'><span>Jelgava</span></a></li>
</ul>
</div>

<div id="nometnu" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Rīga, Nometņu iela 59c  <span class="phone"><%= t "stores.phone" %>: 67821577</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe width="300" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=R%C4%ABga%2C%2BNomet%C5%86u%2Biela%2B59c(Nomet%C5%86u+iela+59c)&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays" %> 9:30 - 20:00</li>
				<li><%= t "stores.sunday" %>	9:30 - 17:00</li>
			</ul>
		</td>
		<td>
			<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>Āgenskalna tirgus</li>
				<li>Tirdzniecības centrs</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			
			<span class="accent"><%= t "stores.reach" %></span>

			<ul class="store">
				<li><%= image_tag("parking.png") %>
				 <b><%= t "stores.free" %></b><%= t "stores.parking" %></li>
				<li class="transport"><%= image_tag("bus.png") %>
				 46</li>
				<li class="transport"><%= image_tag("trol.png") %>
				 5</li>
				<li class="transport"><%= image_tag("tram.png") %>
				 2</li>
			</ul>
		</td>
	</tr>
	<tr>
		
		<td colspan="3">
			<a class="fancybox" rel="nometnu" href="/assets/nometnu/nometnu1.jpg"><img src="/assets/nometnu/nometnu1-thumb.jpg" /></a>
			<a class="fancybox" rel="nometnu" href="/assets/nometnu/nometnu2.jpg"><img src="/assets/nometnu/nometnu2-thumb.jpg" /></a>
			<a class="fancybox" rel="nometnu" href="/assets/nometnu/nometnu3.jpg"><img src="/assets/nometnu/nometnu3-thumb.jpg" /></a>
			<a class="fancybox" rel="nometnu" href="/assets/nometnu/nometnu4.jpg"><img src="/assets/nometnu/nometnu4-thumb.jpg" /></a>
			<a class="fancybox" rel="nometnu" href="/assets/nometnu/nometnu5.jpg"><img src="/assets/nometnu/nometnu5-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>

<div id="lidonu" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Rīga, Lidoņu iela 27, k-1  <span class="phone"><%= t "stores.phone" %>: 67305237</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2174.8010799005833!2d24.05970824047545!3d56.9693398296043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eec55882a5f785%3A0xb98801f21bcf3f58!2sTirdzniec%C4%ABbas+centrs!5e0!3m2!1sen!2slv!4v1441567116359" width="300" height="285" frameborder="0" style="border:0" allowfullscreen></iframe>
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays" %> 10:00 - 20:00</li>
				<li><%= t "stores.sunday" %>	9:30 - 17:00</li>
			</ul>
		</td>
		<td>
			<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>Tirdzniecības centrs "iki"</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			
			<span class="accent"><%= t "stores.reach" %></span>

			<ul class="store">
				<li><%= image_tag("parking.png") %>
				 <b><%= t "stores.free" %></b><%= t "stores.parking" %></li>
				<li class="transport"><%= image_tag("bus.png") %>
				 30, 54</li>
				<li class="transport"><%= image_tag("trol.png") %>
				 9, 25</li>
			</ul>
		</td>
	</tr>
	<tr>
		
		<td colspan="3">
			<a class="fancybox" rel="lidonu" href="/assets/lidonu/lidonu1.jpg"><img src="/assets/lidonu/lidonu1-thumb.jpg" /></a>
			<a class="fancybox" rel="lidonu" href="/assets/lidonu/lidonu2.jpg"><img src="/assets/lidonu/lidonu2-thumb.jpg" /></a>
			<a class="fancybox" rel="lidonu" href="/assets/lidonu/lidonu3.jpg"><img src="/assets/lidonu/lidonu3-thumb.jpg" /></a>
			<a class="fancybox" rel="lidonu" href="/assets/lidonu/lidonu4.jpg"><img src="/assets/lidonu/lidonu4-thumb.jpg" /></a>
			<a class="fancybox" rel="lidonu" href="/assets/lidonu/lidonu5.jpg"><img src="/assets/lidonu/lidonu5-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>

<div id="maskavas" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Rīga, Maskavas iela 1  <span class="phone"><%= t "stores.phone" %>: 67276797</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe width="300" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=R%C4%ABga%2C%2BMaskavas%2Biela%2B1&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays2" %> 	9:00 - 18:30</li>
				<li><%= t "stores.saturtday" %> 	9:00 - 17:00</li>
				<li><%= t "stores.sunday" %> 	9:00 - 16:00</li>
			</ul>
		</td>
		<td>
			<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>Centrāltirgus</li>
				<li>Centrālā stacija</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			
			<span class="accent"><%= t "stores.reach" %></span>

			<ul class="store">
				<li><%= image_tag("parking.png") %>
				 <b><%= t "stores.paid" %></b><%= t "stores.parking" %></li>
				<li class="transport"><%= image_tag("tram.png") %>
				 2, 3, 4, 7, 9, 10</li>
			</ul>
		</td>
	</tr>
	<tr>
		
		<td colspan="3">
			<a class="fancybox" rel="maskavas" href="/assets/maskavas/maskavas1.jpg"><img src="/assets/maskavas/maskavas1-thumb.jpg" /></a>
			<a class="fancybox" rel="maskavas" href="/assets/maskavas/maskavas5.jpg"><img src="/assets/maskavas/maskavas5-thumb.jpg" /></a>
			<a class="fancybox" rel="maskavas" href="/assets/maskavas/maskavas3.jpg"><img src="/assets/maskavas/maskavas3-thumb.jpg" /></a>
			<a class="fancybox" rel="maskavas" href="/assets/maskavas/maskavas4.jpg"><img src="/assets/maskavas/maskavas4-thumb.jpg" /></a>
			<a class="fancybox" rel="maskavas" href="/assets/maskavas/maskavas2.jpg"><img src="/assets/maskavas/maskavas2-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>

<div id="nicgales" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Rīga, Nīcgales iela 2b  <span class="phone"><%= t "stores.phone" %>: 67562086</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe width="300" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=R%C4%ABga%2BN%C4%ABcgales%2Biela%2B2b&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>			
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays" %> 9:30 - 20:00</li>
				<li><%= t "stores.sunday" %>	9:30 - 17:00</li>
			</ul>
		</td>
		<td>
			<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>t/c "Minska"</li>
				<li>t/c "Domina"</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span class="accent"><%= t "stores.reach" %></span>
			<ul class="store">
				<li><%= image_tag("parking.png") %>
				 <b><%= t "stores.free" %></b><%= t "stores.parking" %></li>
				<li class="transport"><%= image_tag("bus.png") %>
				 3, 6, 13, 47, 50, 52</li>
				<li class="transport"><%= image_tag("trol.png") %>
				 11, 16, 22</li>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<a class="fancybox" rel="nicgales" href="/assets/nicgales/nicgales1.jpg" ><img src="/assets/nicgales/nicgales1-thumb.jpg" /></a>
			<a class="fancybox" rel="nicgales" href="/assets/nicgales/nicgales2.jpg" ><img src="/assets/nicgales/nicgales2-thumb.jpg" /></a>
			<a class="fancybox" rel="nicgales" href="/assets/nicgales/nicgales3.jpg" ><img src="/assets/nicgales/nicgales3-thumb.jpg" /></a>
			<a class="fancybox" rel="nicgales" href="/assets/nicgales/nicgales4.jpg" ><img src="/assets/nicgales/nicgales4-thumb.jpg" /></a>
			<a class="fancybox" rel="nicgales" href="/assets/nicgales/nicgales5.jpg" ><img src="/assets/nicgales/nicgales5-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>

<div id="avotu" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Rīga, Avotu iela 2 <span class="phone"><%= t "stores.phone" %>: 67398291</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe width="300" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=R%C4%ABga%2C%2BAvotu%2Biela%2B2&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays" %> 9:30 - 20:00</li>
				<li><%= t "stores.sunday" %>	9:30 - 17:00</li>
			</ul>
		</td>
		<td>
			<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>Latvijas Biznesa koledža</li>
				<li>Vērmanes dārzs</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span class="accent"><%= t "stores.reach" %></span>
			<ul class="store">
				<li><%= image_tag("parking.png") %>
				 <b><%= t "stores.paid" %></b><%= t "stores.parking" %></li>
				<li class="transport"><%= image_tag("trol.png") %>
				 13, 22</li>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<a class="fancybox" rel="avotu" href="/assets/avotu/avotu1.jpg" ><img src="/assets/avotu/avotu1-thumb.jpg" /></a>
			<a class="fancybox" rel="avotu" href="/assets/avotu/avotu2.jpg" ><img src="/assets/avotu/avotu2-thumb.jpg" /></a>
			<a class="fancybox" rel="avotu" href="/assets/avotu/avotu3.jpg" ><img src="/assets/avotu/avotu3-thumb.jpg" /></a>
			<a class="fancybox" rel="avotu" href="/assets/avotu/avotu4.jpg" ><img src="/assets/avotu/avotu4-thumb.jpg" /></a>
			<a class="fancybox" rel="avotu" href="/assets/avotu/avotu5.jpg" ><img src="/assets/avotu/avotu5-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>

<div id="valdeku" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Rīga, Valdeķu iela 10, <span class="phone"><%= t "stores.phone" %>: 67673901</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe width="300" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=R%C4%ABga%2BValde%C4%B7u%2Biela%2B10&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays2" %> 10:00 - 20:00</li>
				<li><%= t "stores.saturtday" %>   10:00 - 19:00</li>
				<li><%= t "stores.sunday" %>	10:00 - 17:00</li>
			</ul>
		</td>
		<td>
			<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>Rīgas 2. slimnīca</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span class="accent"><%= t "stores.reach" %></span>
			<ul class="store">
				<li><%= image_tag("parking.png") %>
				 <b><%= t "stores.free" %></b><%= t "stores.parking" %></li>
				<li class="transport"><%= image_tag("bus.png") %>
				 40, 44, 46</li>
				<li class="transport"><%= image_tag("tram.png") %>
				 10</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<a class="fancybox" rel="valdeku" href="/assets/valdeku/valdeku1.jpg" ><img src="/assets/valdeku/valdeku1-thumb.jpg" /></a>
			<a class="fancybox" rel="valdeku" href="/assets/valdeku/valdeku2.jpg" ><img src="/assets/valdeku/valdeku2-thumb.jpg" /></a>
			<a class="fancybox" rel="valdeku" href="/assets/valdeku/valdeku3.jpg" ><img src="/assets/valdeku/valdeku3-thumb.jpg" /></a>
			<a class="fancybox" rel="valdeku" href="/assets/valdeku/valdeku4.jpg" ><img src="/assets/valdeku/valdeku4-thumb.jpg" /></a>
			<a class="fancybox" rel="valdeku" href="/assets/valdeku/valdeku5.jpg" ><img src="/assets/valdeku/valdeku5-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>

<div id="salaspils" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Salaspils, Rīgas iela 1 <span class="phone"><%= t "stores.phone" %>: 67305232</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe width="300" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1090.797037218809!2d24.33743808459761!3d56.85290640185575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e92d1c41bd313b%3A0x7b2fe047b085bc07!2sR%C4%ABgas+iela+1%2C+Salaspils%2C+Salaspils+pils%C4%93ta%2C+LV-2121%2C+Latvia!5e0!3m2!1sen!2s!4v1434051215239"></iframe>
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays" %> 9:30 - 20:00</li>
				<li><%= t "stores.sunday" %>	9:30 - 17:00</li>
			</ul>
		</td>
		<td>
			<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>Tirdzniecības centrs "Lielais tirgus"</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span class="accent"><%= t "stores.reach" %></span>
			<ul class="store">
				<li><%= image_tag("parking.png") %>
				 <b><%= t "stores.free" %></b><%= t "stores.parking" %></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<a class="fancybox" rel="salaspils" href="/assets/salaspils/salaspils1.jpg" ><img src="/assets/salaspils/salaspils1-thumb.jpg" /></a>
			<a class="fancybox" rel="salaspils" href="/assets/salaspils/salaspils2.jpg" ><img src="/assets/salaspils/salaspils2-thumb.jpg" /></a>
			<a class="fancybox" rel="salaspils" href="/assets/salaspils/salaspils3.jpg" ><img src="/assets/salaspils/salaspils3-thumb.jpg" /></a>
			<a class="fancybox" rel="salaspils" href="/assets/salaspils/salaspils4.jpg" ><img src="/assets/salaspils/salaspils4-thumb.jpg" /></a>
			<a class="fancybox" rel="salaspils" href="/assets/salaspils/salaspils5.jpg" ><img src="/assets/salaspils/salaspils5-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>

<div id="ogre" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Ogre, Mālkalnes prospekts 3, <span class="phone"><%= t "stores.phone" %>: 65027650</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe width="300" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1091.7047841722845!2d24.595353787179306!3d56.821762278430946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e9255ef8163a1b%3A0x77b2bb57e3ffd512!2sM%C4%81lkalnes+prospekts+3%2C+Ogre%2C+Ogres+pils%C4%93ta%2C+LV-5001!5e0!3m2!1sen!2slv!4v1424630570639"></iframe>
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays" %> 9:30 - 20:00</li>
				<li><%= t "stores.sunday" %>	9:30 - 17:00</li>
			</ul>
		</td>
		<td>
			<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>Veikals "ELVI"</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<a class="fancybox" rel="ogre" href="/assets/ogre/ogre1.jpg" ><img src="/assets/ogre/ogre1-thumb.jpg" /></a>
			<a class="fancybox" rel="ogre" href="/assets/ogre/ogre2.jpg" ><img src="/assets/ogre/ogre2-thumb.jpg" /></a>
			<a class="fancybox" rel="ogre" href="/assets/ogre/ogre3.jpg" ><img src="/assets/ogre/ogre3-thumb.jpg" /></a>
			<a class="fancybox" rel="ogre" href="/assets/ogre/ogre4.jpg" ><img src="/assets/ogre/ogre4-thumb.jpg" /></a>
			<a class="fancybox" rel="ogre" href="/assets/ogre/ogre5.jpg" ><img src="/assets/ogre/ogre5-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>

<div id="jelgava" class="store">
<table class="store" valign="top" cellpadding="5">
	<tr><td colspan="2"><h2>Lielā iela 8, Jelgava <span class="phone"><%= t "stores.phone" %>: 63083330</span></h2></td></tr>
	<tr>
		<td rowspan="3" align="left">
			<iframe width="300" height="285" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Jelgava%2BLiel%C4%81%2Biela%2B8&ie=UTF8&z=15&t=m&iwloc=near&output=embed"></iframe>
		</td>
	</tr>
	<tr valign="top">
		<td>	
			<span class="accent"><%= t "stores.hours" %>:</span>
			<ul class="store">
				<li><%= t "stores.workdays" %> 9:30 - 20:00</li>
				<li><%= t "stores.sunday" %>	9:30 - 17:00</li>
			</ul>
		</td>
		<td>
		<span class="accent"><%= t "stores.nearby" %>:</span>
			<ul class="store">
				<li>Hercoga Jēkaba laukums</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<span class="accent"><%= t "stores.reach" %></span>
			<ul class="store">
				<li><%= image_tag("parking.png") %>
				 <b><%= t "stores.free" %></b><%= t "stores.parking" %></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<a class="fancybox" rel="jelgava" href="/assets/jelgava/jelgava1.jpg" ><img src="/assets/jelgava/jelgava1-thumb.jpg" /></a>
			<a class="fancybox" rel="jelgava" href="/assets/jelgava/jelgava2.jpg" ><img src="/assets/jelgava/jelgava2-thumb.jpg" /></a>
			<a class="fancybox" rel="jelgava" href="/assets/jelgava/jelgava3.jpg" ><img src="/assets/jelgava/jelgava3-thumb.jpg" /></a>
			<a class="fancybox" rel="jelgava" href="/assets/jelgava/jelgava4.jpg" ><img src="/assets/jelgava/jelgava4-thumb.jpg" /></a>
			<a class="fancybox" rel="jelgava" href="/assets/jelgava/jelgava5.jpg" ><img src="/assets/jelgava/jelgava5-thumb.jpg" /></a>
		</td>
	</tr>
</table>
</div>
