<div id="contacts">
	<p class="contact">
		<span class="contact"><%= t "contact.info" %></span>
		<br><br>
		<span class="emphasis"><%= t "contact.incharge" %></span><br><br>
		Diāna Medis <br>
		<%= t "stores.phone" %>. 67620572 <br>
		veikals_paris@inbox.lv
	</p>

	<p class="contact">
		<span class="contact"><%= t "contact.stores" %></span>
		<br><br>
		Nometņu iela <br>
		Rīga, Rīga, Pilsoņu iela 1 k-5 <br>
		<%= t "stores.phone" %>: 67821577 <br><br>
		Lidoņu iela <br>
		Rīga, Lidoņu iela 27, k-1 <br>
		<%= t "stores.phone" %>: 67305237 <br><br>
		Maskavas iela <br>
		Rīga, Maskavas iela 1 <br>
		<%= t "stores.phone" %>: 67266797 <br><br>
		Nīcgales iela <br>
		Rīga, Nīcgales iela 2b <br>
		<%= t "stores.phone" %>: 67562086 <br><br>
		Avotu iela <br>
		Rīga, Avotu iela 2 <br>
		<%= t "stores.phone" %>: 67398291 <br><br>
		Valdeķu iela <br>
		Rīga, Valdeķu iela 10<br>
		<%= t "stores.phone" %>: 67673901 <br><br>
		Salaspils <br>
		Salaspils, Rīgas iela 1<br>
		<%= t "stores.phone" %>: 67305232 <br><br>
		Ogre <br>
		Ogre, Mālkalnes prospekts 3<br>
		<%= t "stores.phone" %>: 65027650 <br><br>
		Jelgava <br>
		Jelgava, Lielā iela 8<br>
		<%= t "stores.phone" %>: 63083330 <br><br>
	</p>

</div>