<% set_title "īpašais piedāvājums" %>

<% @extra_head_content = capture do %>
 <noscript>
	<style>
		.st-accordion ul li{
			height:auto;
		}
		.st-accordion ul li > a span{
			visibility:hidden;
		}
	</style>
</noscript>

<% end %> 

<div id="special">

<%#= put latest shit here %>
<div class="st-content">
	<%= image_tag("https://i.imgur.com/cBtsUck.png", :width => 720)  %>
	<%= image_tag("https://i.imgur.com/fG6cHZq.png", :width => 720)  %>
</div>

<div class="st-accordion" id="st-accordion">
	<ul>

		<li>
			<a href="#" class="special">Sporta buču izpārdošana!<span class="st-arrow">Open or Close</span></a>
			<div class="st-content">
				<%= image_tag("http://i.imgur.com/TvuO4bC.jpg", :width => 720)  %>
			</div>
		</li>
		
		<li>
			<a href="#" class="special">Vasaras apavu izpārdošana!<span class="st-arrow">Open or Close</span></a>
			<div class="st-content">
				<%= image_tag("http://i.imgur.com/ZWNwWF5.png", :width => 720)  %>
			</div>
		</li>


		<li>
			<a href="#" class="special">Īss video apraksts par veikalu tīklu "Pāris"<span class="st-arrow">Open or Close</span></a>
			<div class="st-content">
				<iframe width="720" height="640" src="//www.youtube.com/embed/EIrD64yEGZQ" frameborder="0" allowfullscreen></iframe><br />
			</div>
		</li>

		<li>
			<a href="#" class="special">Klienta kartes vairs nedarbosies Ogres veikalā<span class="st-arrow">Open or Close</span></a>
			<div class="st-content">
				<%= image_tag("http://i.imgur.com/lvSYOaR.png", :width => 720)  %>
			</div>
		</li>

		<li>
			<a href="#" class="special">Februāra akcija veikalos Ogrē un Jelgavā<span class="st-arrow">Open or Close</span></a>
			<div class="st-content">
				<%= image_tag("http://i.imgur.com/ItLMGDk.png", :width => 720)  %>
			</div>
		</li>

		<li>
			<a href="#" class="special">Februāra akcija<span class="st-arrow">Open or Close</span></a>
			<div class="st-content">
				<%= image_tag("http://i.imgur.com/LosOb2j.jpg", :width => 720)  %>
			</div>
		</li>

		<li>
			<a href="#" class="special">Darba laiks svētkos<span class="st-arrow">Open or Close</span></a>
			<div class="st-content">
				<%= image_tag("http://i.imgur.com/TOA58bu.png", :width => 720)  %>
			</div>
		</li>

		<li>
			<a href="#" class="special">Akcija "Ziemassvētku Pāris"<span class="st-arrow">Open or Close</span></a>
			<div class="st-content">
				<%= image_tag("http://i.imgur.com/whK9fie.png", :width => 720)  %>
			</div>
		</li>

	</ul>
</div>



 
</div>

 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
 <%= javascript_include_tag 'jquery.accordion.js' %>
 <%= javascript_include_tag 'jquery.easing.1.3.js' %>

 <script type="text/javascript">
	$(function() { $('#st-accordion').accordion(); });
</script>
